<footer class="footer">
    <div class="row">
        <div class="col-lg-12 topFooter">
            <div class="container max-container">
                <div class="footerNav">
                    <ul class="nav nav-pills mb-3 mt-3 justify-content-center footerBorder" id="pills-tab"
                        role="tablist">
                        <li class="nav-item footerNav" role="presentation">
                            <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                aria-selected="true">
                                <h3>Shop All Categories</h3>
                            </a>
                        </li>

                        <li class="nav-item footerNav" role="presentation">
                            <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                                aria-selected="false">
                                <h3>Shop All Brands</h3>
                            </a>
                        </li>

                        <li class="nav-item footerNav" role="presentation">
                            <a class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                                aria-selected="false">
                                <h3>Popular Searches</h3>
                            </a>
                        </li>

                    </ul>

                    <div class="tab-content pb-3" id="pills-tabContent">

                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                            aria-labelledby="pills-home-tab">
                            <ul class="tabUlContent">
                                <li>
                                    <a href="">LED Lights</a>
                                </li>
                                <li>
                                    <a href="">Welding</a>
                                </li>
                                <li>
                                    <a href="">Tooling and Cutting</a>
                                </li>
                                <li>
                                    <a href="">Abrasives</a>
                                </li>
                                <li>
                                    <a href="">Power Tools</a>
                                </li>
                                <li>
                                    <a href="">Pumps</a>
                                </li>
                                <li>
                                    <a href="">Safety</a>
                                </li>
                                <li>
                                    <a href="">Bearings</a>
                                </li>
                                <li>
                                    <a href="">Cleaning</a>
                                </li>
                                <li>
                                    <a href="">Electrical</a>
                                </li>
                                <li>
                                    <a href="">Electronics & Robotics</a>
                                </li>
                                <li>
                                    <a href="">Fasteners</a>
                                </li>
                                <li>
                                    <a href="">Furniture, Hospitality and Food Service</a>
                                </li>
                                <li>
                                    <a href="">Hand Tools</a>
                                </li>
                                <li>
                                    <a href="">IT & Electronics</a>
                                </li>
                                <li>
                                    <a href="">Industrial Automation</a>
                                </li>
                                <li>
                                    <a href="">Lab Supplies</a>
                                </li>
                                <li>
                                    <a href="">Machinery</a>
                                </li>
                                <li>
                                    <a href="">Medical Supplies & Equipment</a>
                                </li>
                                <li>
                                    <a href="">Office Supplies</a>
                                </li>
                                <li>
                                    <a href="">Plumbing</a>
                                </li>
                                <li>
                                    <a href="">Pneumatics</a>
                                </li>
                                <li>
                                    <a href="">Automotive Maintenance and Accessories</a>
                                </li>
                                <li>
                                    <a href="">Security</a>
                                </li>
                                <li>
                                    <a href="" style="color: #2573d4;">See all Categories ></a>
                                </li>

                            </ul>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                            aria-labelledby="pills-profile-tab">
                            <ul class="tabUlContent">
                                <li>
                                    <a href="">LED Lights</a>
                                </li>
                                <li>
                                    <a href="">Welding</a>
                                </li>
                                <li>
                                    <a href="">Tooling and Cutting</a>
                                </li>
                                <li>
                                    <a href="">Abrasives</a>
                                </li>
                                <li>
                                    <a href="">Power Tools</a>
                                </li>
                                <li>
                                    <a href="">Pumps</a>
                                </li>
                                <li>
                                    <a href="">Safety</a>
                                </li>
                                <li>
                                    <a href="">Bearings</a>
                                </li>
                                <li>
                                    <a href="">Cleaning</a>
                                </li>
                                <li>
                                    <a href="">Electrical</a>
                                </li>
                                <li>
                                    <a href="">Electronics & Robotics</a>
                                </li>
                                <li>
                                    <a href="">Fasteners</a>
                                </li>
                                <li>
                                    <a href="">Furniture, Hospitality and Food Service</a>
                                </li>
                                <li>
                                    <a href="">Hand Tools</a>
                                </li>
                                <li>
                                    <a href="">IT & Electronics</a>
                                </li>
                                <li>
                                    <a href="">Industrial Automation</a>
                                </li>
                                <li>
                                    <a href="">Lab Supplies</a>
                                </li>
                                <li>
                                    <a href="">Machinery</a>
                                </li>
                                <li>
                                    <a href="">Medical Supplies & Equipment</a>
                                </li>
                                <li>
                                    <a href="">Office Supplies</a>
                                </li>
                                <li>
                                    <a href="">Plumbing</a>
                                </li>
                                <li>
                                    <a href="">Pneumatics</a>
                                </li>
                                <li>
                                    <a href="">Automotive Maintenance and Accessories</a>
                                </li>
                                <li>
                                    <a href="">Security</a>
                                </li>
                                <li>
                                    <a href="" style="color: #2573d4;">See all Brands ></a>
                                </li>

                            </ul>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                            aria-labelledby="pills-contact-tab">
                            <ul class="tabUlContent">
                                <li>
                                    <a href="">LED Lights</a>
                                </li>
                                <li>
                                    <a href="">Welding</a>
                                </li>
                                <li>
                                    <a href="">Tooling and Cutting</a>
                                </li>
                                <li>
                                    <a href="">Abrasives</a>
                                </li>
                                <li>
                                    <a href="">Power Tools</a>
                                </li>
                                <li>
                                    <a href="">Pumps</a>
                                </li>
                                <li>
                                    <a href="">Safety</a>
                                </li>
                                <li>
                                    <a href="">Bearings</a>
                                </li>
                                <li>
                                    <a href="">Cleaning</a>
                                </li>
                                <li>
                                    <a href="">Electrical</a>
                                </li>
                                <li>
                                    <a href="">Electronics & Robotics</a>
                                </li>
                                <li>
                                    <a href="">Fasteners</a>
                                </li>
                                <li>
                                    <a href="">Furniture, Hospitality and Food Service</a>
                                </li>
                                <li>
                                    <a href="">Hand Tools</a>
                                </li>
                                <li>
                                    <a href="">IT & Electronics</a>
                                </li>
                                <li>
                                    <a href="">Industrial Automation</a>
                                </li>
                                <li>
                                    <a href="">Lab Supplies</a>
                                </li>
                                <li>
                                    <a href="">Machinery</a>
                                </li>
                                <li>
                                    <a href="">Medical Supplies & Equipment</a>
                                </li>
                                <li>
                                    <a href="">Office Supplies</a>
                                </li>
                                <li>
                                    <a href="">Plumbing</a>
                                </li>
                                <li>
                                    <a href="">Pneumatics</a>
                                </li>
                                <li>
                                    <a href="">Automotive Maintenance and Accessories</a>
                                </li>
                                <li>
                                    <a href="">Security</a>
                                </li>
                                <li>
                                    <a href="" style="color: #2573d4;">See all Searches ></a>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 bootmFooter">
            <div class="container max-container">

                <div class="footerCompany">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="CompanyList">
                                <div class="d-flex companyFlex" style="gap: 30px;">

                                    <div class="companyList">
                                        <h3>Company</h3>
                                        <ul>
                                            <li>
                                                <a href="">About Us</a>
                                            </li>
                                            <li>
                                                <a href="">Contact Us</a>
                                            </li>
                                            <li>
                                                <a href="">Careers</a>
                                            </li>
                                            <li>
                                                <a href="">Sell On Industrybuying</a>
                                            </li>
                                            <li>
                                                <a href="">Special offers</a>
                                            </li>
                                            <li>
                                                <a href="">Articles</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="partnerList">
                                        <h3>Sister Site</h3>
                                        <ul>
                                            <li>
                                                <a href="">Monotaro (Japan)</a>
                                            </li>
                                            <li>
                                                <a href="">Navimro (Korea)</a>
                                            </li>
                                            <li>
                                                <a href="">Monotaro (Indonesia)</a>
                                            </li>
                                        </ul>
                                        <h3>Help</h3>
                                        <ul>
                                            <li>
                                                <a href="">FAQs</a>
                                            </li>
                                            <li>
                                                <a href="">Report Infringement</a>
                                            </li>
                                            <li>
                                                <a href="">Cancellations & Returns</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="connectList">
                                        <h3>Connect with us</h3>
                                        <ul>
                                            <li class="d-flex align-items-center">
                                                <a href=""><i class="fa-brands fa-facebook-f socialIcon"></i></a>


                                                <a href=""><i class="fa-brands fa-twitter socialIcon"></i></a>


                                                <a href=""><i class="fa-brands fa-pinterest-p socialIcon"></i></a>


                                                <a href=""><i class="fa-brands fa-linkedin-in socialIcon"></i></a>


                                                <a href=""><i class="fa-brands fa-instagram socialIcon"></i></a>
                                            </li>
                                        </ul>
                                        <div class="connectHelp">
                                            <h3>Download Our APP!</h3>
                                            <ul>
                                                <li>
                                                    <a href="">
                                                        <img src="../../assets/img/buyplaystore.png" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <img src="../../assets/img/buyios.png" alt="">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="subscriber">
                                <div class="subTopSection">
                                    <h3>Subscribe to Newsletter</h3>
                                    <form action="">
                                        <input type="text" class="signInput" placeholder="Enter Your Email Address">
                                        <button type="submit" class="signBtn">Sign Me Up</button>
                                    </form>
                                    <p>Sign up to get exclusive offers from our favorite brands and to be well up in
                                        the news</p>
                                </div>
                                <div class="subBottSection">
                                    <h3>Have a question or want to place an order?</h3>
                                    <ul>
                                        <li>
                                            <i class="fa-solid fa-phone-volume helpCall"></i>
                                            <div class="subBottHelpline">
                                                <p>Helpline Number: Call: +91 1234567890</p>
                                                <p>(Mon-Sun: 9am-6pm)</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="paymentOptions">
                <span class="paymentTitle">Payment Options</span>
                <img src="../../assets/img/paymentOption.png" alt="">
            </div>
            <p class="copyright">
                Copyright © industrybuying.com 2013-2022 All Right Reserved | Privacy Policy Terms & Conditions
            </p>
        </div>
    </div>
</footer>