/* ====================  product Details  =======================*/

/* ========== product main right content ============  */

/* .productDetails_padding {
    padding-top: 110px;
} */


.delivaryIcon img {
    max-width: 20px;
    vertical-align: middle;
    display: inline-block;
}

.delivaryIcon span {
    display: inline-block;
    vertical-align: middle;
}

.delivaryIcon {
    background-color: #ea6021;
    border-radius: 25px 0 0 25px;
    padding: 2px 4px 2px 1px;
}

.delivaryPosition {
    right: 0;
    top: 1px;
    font-size: 11px;
    /* float: left; */
    position: absolute;
    color: #fff;
}

.productDetails_rightArea {
    background-color: var(--bg-white);
    border: 1px solid transparent;
    border-right: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 99;
}

.price_area {
    padding: 0px 20px;
}

.textInclusive_price {
    color: #444;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
}

.price strong {
    color: #fa832a;
    font-size: 30px;
}

.price strong i {
    font-size: 28px;
}

.price {
    font-weight: 500;
    color: #666;
}
.price strong{
    font-weight: 500;
}

.main_price {
    color: #444;
    font-size: 16px;
    margin-bottom: 12px;
}

.inclusiveTax {
    color: #444;
    font-size: 12px;
}

.discount {
    text-align: center;
}

.offOn_Product {
    display: inline-block;
    color: #489437;
    border: 1px dashed #489437;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 20px 20px 0;
}

.delPrice {
    /* color: #444; */
    color: #888;
    font-size: 16px;
    margin: 0 15px 0 0;
    vertical-align: middle;
    display: inline-block;
}

.quantity_area {
    border-top: 1px solid #eee;
    padding: 10px 20px 15px;
    display: flex;
    align-items: center;
}

.quantity_heading {
    display: inline-block;
    width: 110px;
    font-size: 12px;
    color: #444;
    font-weight: bold;
}

.update_quantity {
    margin-top: 6px;
    border: 1px solid #e4e4e4;
}

.minus_btn {
    border: 0;
    border-right: 1px solid #ddd;
    width: 32px;
    background-color: #fff;
    text-align: center;
    font-size: 20px;
    outline: none;
    color: #888;
}

.plus_btn {
    border: 0;
    border-left: 1px solid #ddd;
    width: 32px;
    background-color: #fff;
    text-align: center;
    font-size: 20px;
    outline: none;
    color: #888;
    /* font-weight: 500; */
}

.qunatity_input {
    width: 30px;
    padding: 7px 0 6px;
    text-align: center;
    border: 0;
    color: #888;
}

.quantity_left {
    display: inline-block;
    width: 110px;
}

.quantity_right {
    display: inline-block;
}

.perPiece_area {
    color: #888;
    vertical-align: middle;
    font-size: 12px;
    text-align: left;
    padding: 8px 0 0 10px;
}

.selectPrice_addToCart {
    color: #666;
    font-size: 11px;
    border: 0;
    border-top: 1px solid #ebebeb;
}

.bulkQuantity_discount {
    border-top: 1px solid #eee !important;
    color: #444 !important;
    font-weight: 500;
    font-size: 12px !important;
    padding: 10px 20px !important;
    background: #f2f2f2 !important;
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(0deg) !important;
}

.accordion-button::after {
    transform: rotate(-180deg) !important;
}

.accordion-button:focus {
    border-color: transparent !important;
    outline: 0;
    box-shadow: none !important;
}

.accordion-item {
    border: none !important;
}

.accordion-button:not(.collapsed)::after {
    color: #444 !important;
}

.bulktable_heading {
    color: #444;
    font-size: 11px;
    font-weight: 400;
}
.bulktable_heading th{
    color: #444;
    font-weight: 500;
}
.getCutom_price {
    padding: 5px 0 10px;
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
    margin: 0 0 10px;
}

.getCustom_link {
    color: #046699;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}

.getCustom_link:hover {
    color: #444;
}

.buttonWrap {
    padding: 13px 10px 10px;
}

.product_addToBtn,
.mobtab_product_addToBtn {
    background: #4c993e;
    width: 100%;
    border: 0;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    margin: 0 0 5px;
}

.high_Value_info,
.mobtab_high_Value_info {
    display: flex;
    align-items: center;
    position: relative;
}

.high_val_ph,
.mobtab_high_val_ph {
    overflow: hidden;
    margin: 0;
    font-size: 12px;
    border-radius: 0;
    padding: 5px;
    border: 2px solid #b3f1a9;
    height: 50px;
    text-align: center;
    resize: none;
}

.call_now,
.mobtab_call_now {
    background-color: #f4a137;
    color: #fff;
    border: 0;
    font-size: 13px;
    padding: 5px;
    width: 150px;
    height: 50px;
}

.call_now i,
.mobtab_call_now i {
    background: #fff;
    color: orange;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    line-height: 22px;
    font-size: 13px;
    margin-right: 5px;
}

.sell_item {
    color: #046699;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    background: #f3f3f3;
    padding: 10px 0 0;
    font-weight: 600;
    width: 100%;
}

.need_help {
    font-size: 16px;
    padding: 10px 0;
    text-align: center;
    background: #f3f3f3;
    font-weight: 600;
}

.help_number {
    font-weight: 600;
}

.need_help i {
    color: #1dbbe2;
    border: 1px solid #1dbbe2;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    line-height: 25px;
    font-size: 13px;
    margin-right: 5px;
}

/* ======== pdp sticky header ==============  */

.sticky_headerPDP {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    background: #fff;
    transition: all 0.3s ease;
}

.sticky_active {
    position: sticky;
    top: 0;
    z-index: 99;
    display: none;
}

.sticky_active.active {
    display: block;
}

.sticky_headImg {
    padding: 15px;
    width: 100px;
    text-align: center;
    border-right: 1px solid #eee;
}

.sticky_headContent {
    width: calc(100% - (100px + 200px));
}

.sticky_header_link {
    width: 200px;
    border-left: 1px solid #eee;
    padding: 10px;
}

.sticky_headContent div {
    color: #444;
    font-size: 18px;
    font-weight: 600;
}

.sticky_header_link a {
    color: #666;
    font-size: 12px;
    display: block;
    text-decoration: none;
    margin: 0 0 2px;
    cursor: pointer;
}

#dec.active {
    color: orange !important;
}

#qui.active {
    color: orange !important;
}

#pro.active {
    color: orange !important;
}

.sticky_header_link a::before {
    content: "";
    padding: 0 8px 0 0;
    display: inline-block;
    border-left: 7px solid #999;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

/* ========== product main left content ============  */

.productDetails_leftArea {
    background: #fff;
    position: relative;
}

.productDetail_top {
    /* display: inline-block; */
    padding: 13px 21px 4px 18px;
    border-bottom: solid 1px #f8f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadCrums_common {
    font-size: 12px;
    color: #444;
    margin: 10px 0;
}

.breadcrumb {
    margin-bottom: 0 !important;
}

.breadcrumb_anchor {
    text-decoration: none;
    color: #444;
}

.breadcrumb_anchor:hover {
    color: initial;
}

.current {
    display: inline-block;
    color: #666;
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.social_print_area {
    position: relative;
    color: #999;
    font-size: 9px;
}

.printArea_anchor {
    text-decoration: none;
    margin: 0 5px;
    cursor: pointer;
}

.printArea_anchor:nth-child(1),
.printArea_anchor:nth-child(2) {
    color: #999;
}

.printArea_anchor:nth-last-of-type(1) {
    color: #dc4e41 !important;
}

.printArea_anchor:nth-last-of-type(2) {
    color: #3a5897;
}

.printArea_anchor i {
    font-size: 17px;
}

.product_img_wrapper {
    position: relative;
}

.product_img_area {
    padding: 50px 0 0;
    position: relative;
    border-right: solid 0 #e9e9e9;
    width: 460px;
    max-width: 460px;
    height: 550px;
    min-height: 550px;
}

.details_main_img {
    display: block;
    max-width: 95%;
    margin-inline: auto;
    max-height: 378px;
}

.small_tumb_img {
    padding: 0 7px !important;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px !important;
}

.small_img_li {
    list-style: none;
    margin: 0 2px 2px 0;
    height: 45px;
    width: 45px;
}

.small_img_li.current {
    border: solid 1px #f98700;
}

.small_img_li a {
    text-decoration: none;
    color: transparent;
}

.small_img {
    width: 100%;
    height: 100%;
}

.product_detail_content {
    /* width: 460px; */
    padding: 18px 26px 7px;
}

.product_detail_heading {
    color: #404040;
    font-size: 20px;
    width: 100%;
    position: relative;
    word-wrap: break-word;
}

.product_detail_heading h1 {
    color: #444;
    font-size: 18px;
    font-weight: 600;
}

.pdp_by {
    color: #a1a1a1;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    text-transform: uppercase;
    margin: 0 0 23px;
}

.pdp_by a {
    text-decoration: none;
    color: #046699;
    margin: 0 0 0 2px;
}

.powerBrand {
    display: inline-block;
    position: relative;
}

.powerBrand img {
    width: 100px;
    height: 21px;
    display: inline-block;
    margin-left: 5px;
}

.question {
    display: inline-block;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    color: #444;
    padding: 0 4px;
    height: 14px;
    font-size: 10px;
    display: inline-block;
    margin: 9px 0 0 6px;
    cursor: pointer;
    font-weight: 900;
}

.emi_discount b {
    font-size: 14px;
    font-weight: 600;
    color: #444;
}

.emi_anchor a {
    text-decoration: underline;
    color: #046699;
    font-size: 13px;
    cursor: pointer;
}

.earn_upto_star {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.ibcoins_wrp {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 8px;
    border-bottom: solid 1px #f1f1f1;
    padding-bottom: 12px;
}

.ibcoins_wrp b {
    font-size: 14px;
    font-weight: 600;
    color: #444;
}

.ibCoins_i {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    border: solid 1px #e4e4e4;
    color: #444;
    font-size: 10px;
    display: inline-block;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-left: 7px;
    font-weight: 600;
    text-align: center;
}

.seprate_line {
    background: #eee;
    height: 1px;
    width: 100%;
    margin: 12px 0 0;
}

.product_features {
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
    padding: 0 0 20px;
}

.features {
    width: 100%;
}

.subHeading {
    font-size: 16px;
    color: #000;
    margin: 11px 0 4px;
}

.features tr {
    color: #8c8a8a;
    font-size: 12px;
    width: 340px;
    line-height: 20px;
}

.list_style {
    display: inline-block;
    background-color: #8c8a8a;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    margin-right: 8px;
}

.features .more_details_btn {
    display: inline-block;
    color: #046699;
    font-size: 12px;
    text-decoration: none;
    padding: 5px 10px;
    background: #eee;
    border-radius: 4px;
    margin-top: 10px;
    border: 1px solid #ddd;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.product_more {
    width: 100%;
    border-left: 0 solid #f1f1f1;
}

.inter_link {
    width: 100%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 16px;
    word-wrap: break-word;
}

.inter_link span {
    display: block;
    padding-bottom: 2px;
}

.inter_link span a {
    font-size: 11px;
    color: #046699;
    text-decoration: underline;
}

.serviceability_Area {
    width: 100%;
    margin: 20px 0 0;
    padding: 0 0 0 1px;
    display: inline-block;
}

.serviceability_heading {
    color: #444;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}

.pincode_area {
    position: relative;
    margin: 11px 0 7px;
    border: 1px solid #ccc;
}

.pincode_input {
    width: 302px;
    font-size: 12px;
    padding: 7px 9px 6px;
    border: 0;
}

.checkBtn {
    position: absolute;
    top: 0;
    right: 0;
    background: #eee;
    color: #666;
    text-align: center;
    font-size: 12px;
    border: none;
    height: 100%;
    padding: 0 13px 0 12px;
    border-left: 1px solid #ccc;
    text-transform: uppercase;
}

.avail_offer {
    font-size: 16px;
    color: #212121;
    margin: 11px 0 10px;
    line-height: 18px;
    font-weight: 500;
}

.noCost_emi {
    font-size: 12px;
}

.view_plans {
    color: #046699;
    text-decoration: underline;
}

.offer_widget {
    display: block;
    margin-top: 9px;
}

.offer_widget_area {
    background: #fff4c0;
    margin: 0 0 5px;
    display: table;
}

.offer_widget_content {
    display: table-cell;
    color: #000;
    padding: 15px 15px 15px 10px;
}

.offer_dis_heading {
    color: #fb8339;
    font-size: 18px;
}

.offer_use_code {
    display: table-cell;
    border: 1px dashed #f84c46;
    text-align: center;
    vertical-align: top;
    padding: 10px 20px;
    line-height: 22px;
    font-size: 13px;
}

.coupen_head {
    text-transform: uppercase;
    display: block;
    font-size: 16px;
    margin: 4px 0 0;
}

.view_div {
    text-align: end;
}

.view {
    color: #046699;
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer;
}

.rga_requirement {
    font-size: 12px;
    color: #797979;
    border-top: 1px solid #f1f1f1;
    text-align: left;
    padding: 10px;
    margin: 20px 0 0;
}

.generate_quote,
.req_callback,
.repeat_list {
    display: inline-block;
    margin: 0 4px;
}

.generate_quote i,
.req_callback i,
.repeat_list i {
    color: #137cb3;
    font-size: 13px;
}

.quote_anch,
.callback_anch,
.list_anch {
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 0 3px;
    color: #046699;
    text-decoration: underline;
    cursor: pointer;
}

.product_waranty_garenty {
    width: 100%;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #fcfcfc;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 12px 20px;
    gap: 20px;
}

.waranty,
.original,
.secure,
.protection,
.ibcash {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 12px;
}

.description_tabs {
    padding: 20px;
}

.desc_spec {
    color: #444 !important;
    background-color: #f2f2f2 !important;
    font-weight: 500;
    font-size: 14px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #fff !important;
}

.tabDwtails_container {
    padding: 10px;
    border: 1px solid #e7e7e7;
}

.tabDwtails_container p {
    font-weight: 400;
    font-size: 15px;
    color: #444;
}

.tabDwtails_container h2 {
    font-size: 20px;
    color: #222;
    margin: 0 0 23px;
    font-weight: 400;
}

.tabDwtails_container p strong {
    font-weight: 500;
    color: #444;
}

.specific_table tr td:nth-child(2n) {
    font-weight: 600;
    font-size: 14px;
}

.specific_table tr td {
    color: #444;
    font-size: 14px;
}

/* ============== recommended card ===============  */

.recommend_heading {
    padding: 0 0 10px 20px;
    text-transform: uppercase;
    font-size: 16px;
    color: #262626;
}

.recommended_card {
    margin: 0 0 30px;
    position: relative;
    width: 25%;
    min-height: 270px;
    background: #fff;
    border: 1px solid #f3f3f3;
}

.recommended_card:hover {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .18);
}

.recomendedImg_wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.img_box {
    height: 150px;
    width: 100%;
    vertical-align: middle;
    padding: 10px 0 0;
}

.img_box img {
    width: 166px;
    height: 120px;
    margin: 0 auto;
    display: table;
}

.recommend_bttom {
    min-height: 70px;
}

.title_section {
    min-height: 76px;
    padding: 0 10px 2px;
}

.product_name {
    color: #444;
    font-size: 13px;
    line-height: 15px;
    height: 32px !important;
    overflow: hidden;
    display: block;
}

.title_section a {
    text-decoration: none;
}

.by a {
    color: #666;
}

.by {
    color: #666;
    font-size: 11px;
    margin: 2px 0;
}

.recomend_lower {
    border-top: 2px dotted #eaeaea;
    padding: 5px 10px 6px;
    min-height: 100px !important;
}

.amount_upto {
    display: inline-block;
    width: 100%;
}

.recom_price {
    color: #f54702;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
}

.recomd_upto {
    color: #489437;
    font-size: 13px;
}

.recommed_btn_div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.recomend_addBtn {
    /* display: inline-block; */
    text-decoration: none;
    width: 49%;
    color: #ea6021;
    /* height: 30px; */
    font-size: 12px;
    border: 1px solid #ea6021;
    margin-top: 4px !important;
    padding: 6px;
    margin: 5px 0;
    /* margin-right: 2px; */
    text-align: center;
    transition: all 0.2s linear;
}

.recomend_addBtn:hover {
    color: #fff;
    background-color: #ea6021;
    border: 1px solid #ea6021;
}

.recomend_buyBtn {
    /* display: inline-block; */
    text-decoration: none;
    width: 49%;
    color: #444;
    /* height: 30px; */
    font-size: 12px;
    border: 1px solid #444;
    margin-top: 4px !important;
    padding: 6px;
    margin: 5px 0;
    /* margin-left: 2px; */
    text-align: center;
    transition: all 0.2s linear;
}

.recomend_buyBtn:hover {
    color: #fff;
    background-color: #444;
    border: 1px solid #444;
}

/* ================ rating review ================  */

.rating_review {
    width: 100%;
    padding: 15px;
    background: #fff;
    box-sizing: border-box;
    border-top: 10px solid #f3f3f3;
}

.rating_heading {
    display: inline-block;
    color: #262626;
    font-size: 16px;
    font-weight: 600;
}

.reviewRate_star_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star_box {
    height: 200px;
    width: 100%;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.review_main_star {
    padding: 15px;
    width: 100%;
    background: #fff;
    display: block;
}

.review_center_star {
    text-align: center;
}

.review_center_star p {
    margin-bottom: 15px;
    font-size: 15px;
}

.stars {
    display: inline-flex;
    background: url("../../assets/img/productDetailImg/Star_empty.svg");
    width: 200px;
    height: 40px;
    background-size: 40px 38px;
}

.stars span {
    width: 180px;
    display: inline-flex;
    background-position: 0 0;
    background: url("../../assets/img/productDetailImg/Gold_Star.svg");
    height: 40px;
    background-size: 40px 38px;
}

.progress_box {
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 15px 7px;
}

.progress_containr {
    width: 435px;
}

.meter_containr {
    width: 100%;
    margin-bottom: 15px;
}

.meter_link {
    color: #01614b;
    text-decoration: none;
    line-height: 20px;
    border: 0px;
}

.meter_link:hover {
    color: initial;
}

.meter_link span {
    line-height: 20px;
    border: 0px;
    margin-right: 10px !important;
}

.meter_range {
    overflow: hidden;
    box-shadow: inset 0 0 0 1px #e3e6e6;
    background-color: #F0F2F2;
    height: 20px;
    border-radius: 4px;
    width: 300px;
    display: inline-block;
}

.inside_meterRange {
    box-shadow: inset -2px 0 0 -1px #b15305, inset 0 0 0 1px #ec7e23;
    background-color: #f57206;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 20px;
}

/* ====================== customer review =============== */

.customer_review {
    background: #fff;
    width: 100%;
    padding: 0 15px 15px 15px;
}

.review_heading {
    color: #262626;
    padding: 15px 0;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 600;
}

.pdp_reviewBox {
    position: relative;
    padding: 25px 0px;
    border-bottom: 1px solid #E6E6E6;
}

.short_name {
    display: flex;
    text-transform: uppercase;
    width: 51px;
    height: 51px;
    border: 3px solid #EC7E23;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.short_name span {
    font-size: 20px;
    font-weight: 500;
}

.full_name_review {
    display: inline-block;
    width: 90%;
    padding-left: 20px;
}

.client_name {
    font-size: 15px;
    color: #565656;
    font-weight: bold;
}

.verified_client {
    display: inline-block;
    color: #ffffff;
    background-color: rgb(0, 122, 135);
    padding: 2px;
    font-size: 10px;
    margin-left: 10px;
}

.pdp_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.client_star {
    padding-left: 20px;
    margin-top: 5px;
}

.name_rate_flex {
    width: 90%;
}

.client_star a {
    text-decoration: none;
    display: inline-block;
    margin-right: 2px;
}

.client_star a img {
    width: 20px;
}

.client_review_sum {
    margin-top: 3px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #262626;
}

.client_review_para {
    margin-top: 10px;
    margin-left: 20px;
}

.client_review_para p {
    font-size: 13px;
    font-weight: 400;
    margin: 0px;
    margin-bottom: 10px;
    line-height: 18px;
    width: 80%;
    color: #444;
}

.review_date {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    color: #ABABAB;
    margin-top: 5px;
    line-height: 24px;
}

.mobileTab_price_area {
    display: none;
}

.mobtab_buttonWrap {
    display: none;
}

/* ================ hover modal or popup css ===================== */

.question:hover .power_brand {
    display: block;
}

.power_brand {
    display: none;
}

.powerbrand_details {
    width: 280px;
    font-size: 12px;
    padding: 12px 12px 12px 18px;
    border: 1px solid #ccc;
    background: #fff;
    position: absolute;
    top: 34px;
    left: 34px;
    box-shadow: 0 0 7px rgba(0, 0, 0, .1);
    z-index: 99;
}

.manufacture,
.support,
.request {
    display: inline-block;
    background: url(../../assets/img/productDetailImg/powerbrand.svg) no-repeat;
    width: 26px;
    height: 24px;
    margin-right: 6px;
    vertical-align: middle;
    background-position: 0 2px;
}

.support {
    background-position: 0 -31px !important;
}

.request {
    background-position: 0 -58px !important;
}

.manufacture_detail,
.support_detail,
.request_detail {
    display: inline-block;
    font-size: 13px;
    color: #333;
    font-weight: 600;
}

.ibCoinsInfo {
    font-size: 12px;
    background-color: #232f3f;
    border-radius: 5px;
    padding: 7px 10px;
    position: absolute;
    top: 30px;
    width: 100%;
    z-index: 99;
    color: #fff;
    text-align: left;
    display: none;
}

.ibCoins_i:hover .ibCoinsInfo {
    display: block;
}


.footer_wrapper {
    margin-top: 50px;
}

/* ========================= all detail popup ======================  */

.email_popup.active {
    display: block;
}

.email_popup {
    width: 435px;
    position: absolute;
    left: -350px;
    margin: 25px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    background: #fff;
    z-index: 2;
    display: none;
}

.email_pop_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #444;
    background: #f7f7f7;
    font-size: 14px;
    padding: 8px;
    line-height: 18px;
    border-bottom: solid 1px #e3e3e3;
    font-size: 14px;
}

.email_head_text {
    font-weight: 600;
}

.email_head_cross {
    border-left: solid 1px #e3e3e3;
    cursor: pointer;
    /* padding: 2px; */
}

.email_head_cross i {
    padding: 0 10px;
}

.email_wrap {
    padding: 15px 12px 12px;
}

.email_wrap input,
textarea {
    width: 100%;
    font-size: 13px;
    padding: 10px;
    border: solid 1px #cfcfcf;
    margin: 5px;
}

.email_wrap textarea {
    height: 65px;
}

.email_submit {
    width: 112px;
    font-size: 14px;
    padding: 10px 0;
    margin: 5px;
    background: #f98700;
    color: #fff;
    border: 0;
    border-bottom: solid 3px #b75e00;
}

/* ============= view plans ====================  */

.viewPlans_header {
    background-color: #232f3e;
    color: #fff;
    padding: 13px !important;
}

.viewPlans_dialog {
    max-width: 700px;
}

.viewPlan_close {
    background: none !important;
    outline: none;
    box-shadow: none;
    border: 0;
    color: #fff !important;
    padding: 4px;
}

.viewPlans_pills .nav-link {
    font-size: 13px;
    color: #484848;
    padding: 10px 15px;
}

.viewPlans_pills .nav-link.active {
    background-color: #fff;
    color: #232f3e;
    border-left: 4px solid #f9611e;
    border-radius: 0;
}

.viewBank_list {
    height: 400px;
    overflow-y: auto;
}

.viewBank_list li {
    list-style-type: none;
    padding: 8px;
    background-color: #f5f5f5;
    margin: 3px;
    border-radius: 9px;
}

/* ============= request callback ===========  */

.req_call_dailog {
    max-width: 440px;
}

.call_back_close {
    position: absolute;
    right: 20px;
    top: 20px;
    border: 2px solid #bababa;
    border-radius: 100%;
}

.req_call_title {
    text-align: center;
    font-size: 17px;
}

.call_back_form {
    text-align: center;
}

.req_call_head {
    justify-content: center;
    color: #444 !important;
}

.req_call_body {
    background-color: #f0f0f0;
    padding-top: 30px;
}

.call_back_input {
    border: 1px solid #cccccc;
    line-height: 24px;
    color: #1d1d1d;
    font-size: 16px;
    padding: 5px;
    width: 338px;
    height: 43px;
    margin: 5px 0;
}

.call_back_btn {
    width: 338px;
    height: 42px;
    background-color: #f4a137;
    color: #fff;
    border: none;
    border-radius: 0;
    font-size: 18px;
    margin: 5px 0;
}

.call_back_footer {
    justify-content: center;
}

.call_back_footer a {
    color: #046699;
}

/* ============= getcustom modal ===========  */

.getCustom_head {
    justify-content: center;
}

.getCusbodytom_body {
    background-color: #f0f0f0;
}

.getCustom_form {
    text-align: center;
}

.fieldRow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 338px;
    margin-inline: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fieldRow label {
    width: 50%;
    text-align: justify;
}

.getCustom_input {
    border: 1px solid #cccccc;
    line-height: 24px;
    color: #1d1d1d;
    font-size: 16px;
    padding: 5px;
    width: 100%;
    height: 43px;
    margin: 5px 0;
}

.getCustom_btn {
    width: 338px;
    height: 42px;
    background-color: #f4a137;
    color: #fff;
    border: none;
    border-radius: 0;
    font-size: 18px;
    margin: 5px 0;
}

.update_quantity_pop {
    border: 1px solid #e4e4e4;
    width: 338px;
}

.getCus_pop_input {
    border-left: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
}

.update_quantity_pop .getCusminus_btn,
.getCusplus_btn,
.getCus_pop_input {
    width: 50px;
    height: 43px;
    border: 0;
    text-align: center;
    background-color: #fff;
}

/* <!-- ========= generate quote modal ========= --> */

.generate_quoteAlert {
    background: #444;
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.generate_quoteAlert_close,
.viewAll_offers_close {
    color: white !important;
    font-size: 20px !important;
    cursor: pointer;
}

.generate_quoteAlert_dailog {
    max-width: 600px;
}

.alert-link {
    color: #11baf2;
    cursor: pointer;
}

.quote_check {
    background-color: #fff;
    color: #444 !important;
    border: 2px solid #bababa;
    border-radius: 100%;
    font-size: 22px !important;
    padding: 4px;
}


/* ============= view all offer modal ==================  */

.viewall_offerDialogue {
    margin-right: 0 !important;
    margin-top: 0 !important;
    /* margin-bottom: 0 !important; */
}

.viewall_offercontent {
    max-height: 700px;
}

.view_all_header {
    padding: 15px;
    background: #00be9c;
    color: #fff;
    font-size: 22px;
}

.view_all_body {
    text-align: initial;
    background: #f3f3f3;
    box-shadow: 0 0 13px rgba(0, 0, 0, .26);
}

.gst_offer {
    background: #fffaef;
    border: 1px dashed #e3daad;
    margin-bottom: 21px;
    padding: 14px 17px;
    font-size: 14px;
}

.gst_para {
    font-weight: 500;
}

.gst_view_btn {
    font-size: 13px;
    color: #046699;
    text-decoration: underline;
    margin-top: 6px;
    cursor: pointer;
}

.viewall_couponArea {
    background: #fff;
    margin-bottom: 21px;
    position: relative;
    border: 1px solid #ccc;
}

.couponCode_area {
    text-align: center;
    width: 160px;
    background: #fff;
    padding: 14px 0 12px;
    display: inline-block;
    border-right: dashed 1px #a9a9a9;
}

.coupon_use {
    font-size: 13px;
    color: #999;
}

.redeemCode {
    color: #19b615;
    display: block;
    font-size: 17px;
    margin: 3px auto 0;
    width: 126px;
    padding-top: 5px;
    border-radius: 100px;
    background: #e6feca;
    border: solid 1px #e4e4e4;
    border-bottom: solid 2px #e4e4e4;
}

.couponCode_content {
    background: #fff;
    font-size: 14px;
    line-height: 16px;
    color: #222;
    width: 250px;
    display: inline-block;
    margin: 12px 0 0 17px;
    vertical-align: top;
}

.couponCode_content a {
    color: #999;
    text-decoration: underline;
    margin-top: 7px;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
}

.curveTop {
    background: #f3f3f3;
    height: 18px;
    width: 18px;
    position: absolute;
    border-radius: 20px;
    left: 151px;
    top: -10px;
    border-bottom: solid 1px #ccc;
}

.curveBottom {
    background: #f3f3f3;
    height: 18px;
    width: 18px;
    position: absolute;
    border-radius: 20px;
    left: 151px;
    bottom: -10px;
    border-top: solid 1px #ccc;
}

.scissorImg {
    width: 13px;
    height: 17px;
    position: absolute;
    bottom: 12px;
    left: 153px;
}

/* ========== pdp img click modal ==========  */

.pdp_img_modal {
    max-width: 1000px;
    width: 1000px;
}

.pdp_CarouselImg {
    width: 70%;
    height: 378px;
    margin-inline: auto;
}

.small_img_car {
    height: 55px;
    width: 55px;
}

.carousel-indicators [data-bs-target] {
    height: 55px;
    width: 55px;
    opacity: 1 !important;
}

.car_img_modalHead p{
    color: #262626;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 0 10px !important;
    display: block;
    font-weight: 500;
}
.car_img_pdp{
    color: #222;
    font-size: 20px;
    margin: 0 0 23px;
}
.carousel-indicators{
    position: static;
    flex-wrap: wrap;
}
.car_control{
    font-size: 20px;
    color: #000;
    background: #fff;
}
.carousel-control-next, .carousel-control-prev{
    width: 70px;
    height: 38px;
    box-shadow: 3px 0 10px #00000024;
    top: 45%;
}
.btn_close_car{
    background-color: #38404a;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.car_header{
    justify-content: end;
}


/* ==================== productDetails ===============  */
@media (max-width:1024px) {
    .right_side_mobileWrapper {
        display: none;
    }

    .left_side_mobileWrapper {
        width: 100%;
    }

    .mobileTab_price_area {
        display: block;
    }

    .discount {
        text-align: justify;
    }

    .buttonWrap {
        display: none;
    }

    .mobtab_buttonWrap {
        display: block;
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 0;
        z-index: 1030;
        width: 100%;
        background: #fff;
    }

    .mobtab_high_val_ph {
        width: 100%;
    }

    .customer_review {
        margin-bottom: 100px;
    }

    .recommed_btn_div {
        flex-direction: column;
    }

    .recomend_addBtn,
    .recomend_buyBtn {
        width: 100%;
    }
}

@media (max-width:768px) {
    .sticky_active{
        display: none !important;
    }
    .mobileTab_price_area {
        display: block;
    }

    /* .top_Header {
        display: none !important;
    } */

    .right_side_mobileWrapper {
        display: none;
    }

    /* .productDetails_padding {
        padding-top: 150px;
    } */

    .product_div {
        flex-direction: column;
    }

    .product_img_area {
        width: 100%;
        max-width: 100%;
    }

    .product_detail_content {
        width: 100%;
    }

    .productDetails_rightArea {
        z-index: initial;
    }

    .discount {
        text-align: justify;
    }

    .recomend_addBtn,
    .recomend_buyBtn {
        width: 100%;
    }

    .img_box img {
        width: 150px;
    }

    .product_waranty_garenty {
        display: none;
    }

    .shortBy_category {
        display: none;
    }

    .buttonWrap {
        display: none;
    }

    .mobtab_buttonWrap {
        display: block;
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 0;
        z-index: 1030;
        width: 100%;
        background: #fff;
    }

    .mobtab_high_val_ph {
        width: 100%;
    }

    .customer_review {
        margin-bottom: 100px;
    }
}

@media (max-width:426px) {
    .reviewRate_star_box {
        flex-direction: column;
    }

    .recommended_card {
        width: 50%;
    }

    .progress_box {
        width: 100%;
    }

    .progress_containr {
        width: 100%;
    }

    .meter_range {
        width: 245px;
    }

    .pdp_review_box .nav {
        justify-content: center;
        gap: 10px;
    }

    .productDetail_top {
        flex-direction: column;
    }

    .productDetail_top .breadcrumb {
        justify-content: center;
    }

    .pincode_input {
        width: 100%;
    }

    .email_popup {
        width: 350px;
        left: -120px;
    }
}

@media (max-width:376px) {
    .productDetail_top {
        padding: 13px 5px 5px 5px;
    }

    .product_img_area {
        height: 480px;
        min-height: 480px;
    }

    .offer_dis_heading {
        font-size: 14px;
    }

    .product_name {
        height: 50px !important;
    }

    .meter_range {
        width: 197px;
    }

    .recommended_card {
        width: 100%;
    }
}

@media (min-width:769px) and (max-width:820px) {
    .product_div {
        flex-direction: column;
    }

    .product_img_area {
        width: 100%;
        max-width: 100%;
    }
}

@media (min-width:426px) and (max-width:708px) {
    .recommended_card {
        width: 50%;
    }

    .reviewRate_star_box {
        flex-direction: column;
    }
}

@media (min-width:320px) and (max-width:375px) {
    .email_popup {
        width: 300px;
        left: -100px;
    }
}