<!-- ==================== sidebar section ==============================  -->

<aside class="sidebar" [ngClass]="{'active' : isActive}">
    <!-- <section> -->
    <div class="sideHeadingSection">
        <div class="sideBackBtn" (click)="onCancelClick()">
            <i class="fa-solid fa-arrow-left backArrow"></i>
        </div>
        <h3 class="sidebarHeading">Categories</h3>
    </div>
    <ul class="sideBar_list">
        <li class="sideBar_item" [class.active]="activeItem === i" *ngFor="let item of menus; let i = index;">
            <a href="#" class="sidemenu" (click)="setActive(i)">
                <img src="../../assets/img/sidebar/agriculture.webp" class="sideIcon" alt="">
                <img src="../../assets/img/shopCategory/agriculture-garden.webp" class="sideMobIcon" alt="">
                {{ item.name }}
                <i class="fa-solid fa-plus sideMobPlus"></i>
            </a>
            <!-- --------- sub Menu ----------  -->
            <div class="allSubMenu_div" *ngIf="item.submenu && item.submenu.length > 0">
                <div class="submenu">
                    <ul>
                        <li class="hoverSubUl" *ngFor="let subItem of item.submenu">
                            <a [href]="subItem.url">{{ subItem.name }}</a>
                            <i class="fa-solid fa-angle-right hoverSubUlArr"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
    <p class="sideCategoryHover">
        <!-- <a href="" class="sideCategory">See All Categories</a> -->
        <span type="button" class=" sideCategory" data-bs-toggle="modal" data-bs-target="#staticBackdrop">See All
            Categories</span>
    </p>
    <div class="sotreArea" *ngIf="showSidebarPdp">
        <div class="sideSaleIcon">
            <a href="">
                <div>
                    <img src="../../assets/img/istockphoto.jpg" alt="">
                </div>
                Special Offers
            </a>
        </div>
        <div class="sideSaleIcon">
            <a href="">
                <div>
                    <img src="../../assets/img/sellerarea.webp" alt="">
                </div>
                Seller Hub
            </a>
        </div>
        <div class="sideSaleIcon borderNone">
            <a href="">
                <div>
                    <img src="../../assets/img/megaphones.png" alt="">
                </div>
                Clearance Sale
            </a>
        </div>
    </div>
    <!-- </section> -->
</aside>